#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.notes-wrapper {
  display: flex;
  flex-direction: column;
}

.note-card {
  border: 1px dashed white;
  text-align: center;
  padding-bottom: 20px;
}

.comments-div {
  background-color: darkslategrey;
  text-align: left;
  padding-left: 20px;
}
